Git Ignore for a Python/React Monorepo
General OS and Editor specific files
---------------------------------
.DS_Store
.project
.classpath
.c9/
*.launch
.settings/
.sublime-workspace
.idea/
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.swp
*~.nib
local_settings.py
key.pem
key.pub
Thumbs.db
desktop.ini

Frontend - React
---------------------------------
Frontend/node_modules/
Frontend/build/
Frontend/dist/
Frontend/.pnp
Frontend/.pnp.js
Frontend/.next/
Frontend/.expo/
Frontend/npm-debug.log*
Frontend/yarn-debug.log*
Frontend/yarn-error.log*
Frontend/lerna-debug.log*
Frontend/coverage/

Environment variables
Frontend/.env
Frontend/.env.local
Frontend/.env.development.local
Frontend/.env.test.local
Frontend/.env.production.local

Backend - Python
---------------------------------
Byte-compiled / optimized / DLL files
Backend/pycache/
Backend/.py[cod]
Backend/$py.class

C extensions
Backend/*.so

Distribution / packaging
Backend/.Python
Backend/build/
Backend/develop-eggs/
Backend/dist/
Backend/downloads/
Backend/eggs/
Backend/.eggs/
Backend/lib/
Backend/lib64/
Backend/parts/
Backend/sdist/
Backend/var/
Backend/wheels/
Backend/share/python-wheels/
Backend/.egg-info/
Backend/.installed.cfg
Backend/.egg
Backend/MANIFEST

PyInstaller
Usually these files are created by a PyInstaller executable
Backend/.manifest
Backend/.spec

Installer logs
Backend/pip-log.txt
Backend/pip-delete-this-directory.txt

Unit test / coverage reports
Backend/htmlcov/
Backend/.tox/
Backend/.nox/
Backend/.coverage
Backend/.coverage.*
Backend/.cache
Backend/nosetests.xml
Backend/coverage.xml
Backend/.cover
Backend/.py,cover
Backend/.hypothesis/
Backend/.pytest_cache/
Backend/cover/

Environments
Backend/.env
Backend/.venv
Backend/env/
Backend/venv/
Backend/ENV/
Backend/env.bak/
Backend/venv.bak/

Django specific
Backend/*.log
Backend/local_settings.py
Backend/db.sqlite3
Backend/db.sqlite3-journal
Backend/instance/

Flask specific
Backend/instance/
Backend/.webassets-cache

IPython Notebook
Backend/.ipynb_checkpoints

mypy
Backend/.mypy_cache/
Backend/.dmypy.json
Backend/dmypy.json

Pyre type checker
Backend/.pyre/